:root {
    --primary-text-color: #757575;
    --accent-text-color:#2196F3;
    --title-text-color:#212121;
    --secondary-text-color: #FFFFFF;
}

body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
}
.logo-white {
    color: var(--title-text-color);
}
.logo-bl {
    color: var(--accent-text-color);
}
.list {
    list-style: none;
}
/* site-nav */
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-text-color);
}
/* adress-nav */
.adress-nav .link {
    color: var(--primary-text-color);
}
.adress-nav .link:hover, 
.adress-nav .link:focus {
    color: var(--accent-text-color);
}
/* hero */
.hero {
    background-color:#2F303A;
}
.hero .hero-title {
    color: var(--secondary-text-color);
}
.hero .hero-button {
    background-color: #2196F3;
    color: var(--secondary-text-color);
}
/* section */
.section {
    background-color:#FFFFFF;;
}
.section .section-title {
    color: var(--title-text-color);
}
.section-title-name {
    color: var(--title-text-color);
}
.section-team {
    background-color:#F5F4FA;
}
.section-team  .section-title {
    color: var(--title-text-color);
}
/* footer */
.footer {
    background-color: #2F303A;
}
.logo-black {
    color: var(--secondary-text-color);
}
.footer-address {
    color: var(--secondary-text-color);
}

.filter-button {
    background-color:#F5F4FA;
    color: var(--title-text-color);
}
.filter-button:hover, 
.filter-button:focus {
    background-color:#2196F3;
    color: var(--secondary-text-color);
}